html{

background-color:#1a1b1f;
    color: #838a8f;
}
body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.markdown > * {
  all: revert;
}

.btn{
  font-size: 18px;
  font-weight: 400;
  padding: 4px;
  border-radius: 9px;
  box-sizing:content-box;
  cursor: pointer;
  color: gray;
  border: 1px solid white;
}
.btn:hover{
  color: white;
}

